<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css"
    />
  </head>

  <body>
    <div class="container">
      <h2>API Project: Request Header Parser Microservice</h2>
      <h3>User Story:</h3>
      1. I can get the IP address, preferred languages (from header
      <code>Accept-Language</code>)<br />
      and system infos (from header <code>User-Agent</code>) for my device.

      <h3>Example Usage:</h3>
      <p>
        [base url]/api/whoami
      </p>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"ipaddress":"::ffff:159.20.14.100",<br />""language":"en-US,en;q=0.5",<br />"software":"Mozilla/5.0
          (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101
          Firefox/50.0"}</code
        >
      </p>
    </div>
    <footer>
      <div class="contact-links">
        <a
          href="https://github.com/DariaCode/request-header-parser-microservice/"
          target="_blank"
          rel="noopener"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/daria-vodzinskaia-2506b918b"
          target="_blank"
          rel="noopener"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          href="https://www.freecodecamp.org/dariacode"
          target="_blank"
          rel="noopener"
          ><i class="fab fa-free-code-camp"></i
        ></a>
      </div>
      <p>© 2020&nbsp;Daria Vodzinskaia</p>
      <p></p>
    </footer>
  </body>
</html>
